!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{:data => {:spy => "scroll", :target => ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    = yield
    = partial "includes/layout/footer"
